# Gradle
.gradle
*.iml

# Hidden data
.DS_Store

# Logs
logs
*.log
logs/

# Android Studio
captures

# XCode
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Local environment data
local.properties
.kotlin
.env
.env.*
dev-app-update.yml

# Build output
**/build/
!src/**/build/
node_modules/

# Generated native code
.externalNativeBuild
.cxx
